header {
    text-align: center;
    background-color: #06D6A0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-family: Segoe,'Segoe UI', "DejaVu Sans", "Trebuchet MS", "sans-serif";
    font-size: 2em;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    position: relative;
    margin: 15px;
    overflow: hidden;
}

.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.581);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal.show {
    display: block;
    opacity: 1;
}

.modal-img {
    display: inline-block;
    padding-top: 1.5em;
    max-width: 80%;
    max-height: 80%;
    text-align: center;
}

.modal-text {
    display: inline-block;
    background-color: #bc9e58;
    color: #073B4C;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 1.05em;
}

body {
    background-color: #118AB2;
}